

<div class="row text-end">
    <span><a routerLink="/admin/cours/create" class="btn btn-primary" >Create</a></span>
</div>
<div class="card">
  <p-table [value]="courss" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Num</th>
              <th>Intitule</th>
              <th>matiere</th>
              <th>enseignant</th>
              <th>année scolaire</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cours let-index="rowIndex">
          <tr>
              <td>{{ index+1 }}</td>
              <td>{{ cours.intitule }}</td>
              <td>{{ cours.matiere.code }}</td>
              <td>{{ cours.enseignant.nom }}</td>
              <td>{{ cours.anne.code }}</td>
              
              <td>
                  <a (click)="getSelectedCours(cours)">
                      <span>
                          <i class="mdi mdi-grease-pencil"></i>
                      </span>
                  </a> 
                  <a (click)="deleteCours(cours.id)">
                      <span>
                          <i class="mdi mdi-delete-variant"></i>
                      </span>
                  </a>
                  
              </td>
              
          </tr>
      </ng-template>
  </p-table>
</div>