<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/revendeur/dash">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/enseignant">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Enseignant</span>
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/matiere">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Matiere</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/anne">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Anné Scolaire</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/classe">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Classe</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/cours">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Cours</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/planing">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Planning</span>
        </a>
      </li>
  
      
    </ul>
  </nav>