

<h1 class="text-center"> Emploie du temps globale</h1>
<div class="card">
  <p-table [value]="planings" [tableStyle]="{ 'min-width': '50rem', }">
      <ng-template pTemplate="header">
          <tr >
              <th>Num</th>
              <th>Cours</th>
              <th>Classe</th>
              <th>Enseignant</th>
              <th>Heure debut</th>
              <th>Heure fin</th>
        
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-planing let-index="rowIndex">
          <tr>
              <td>{{ index+1 }}</td>
              <td>{{ planing.cours.intitule }}</td>
              <td>{{ planing.classe.intitule }}</td>
              <td>{{ planing.cours.enseignant.nom }}</td>
              <td>{{ planing.heure_debut }}</td>
              <td>{{ planing.heure_fin }}</td>  
          </tr>
      </ng-template>
  </p-table>
</div>