

<div class="row text-end">
    <span><a routerLink="/admin/enseignant/create" class="btn btn-primary" >Create</a></span>
</div>
<div class="card">
  <p-table [value]="enseignants" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Num</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Matricule</th>
              <th>Tel</th>
              <th>Email</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-enseignant let-index="rowIndex">
          <tr>
              <td>{{ index+1 }}</td>
              <td>{{ enseignant.nom }}</td>
              <td>{{ enseignant.prenom }}</td>
              <td>{{ enseignant.matricule}}</td>
              <td>{{ enseignant.tel}}</td>
              <td>{{ enseignant.email}}</td>
              <td>
                  <a (click)="getSelectedEnseignant(enseignant)">
                      <span>
                          <i class="mdi mdi-grease-pencil"></i>
                      </span>
                  </a> 
                  <a (click)="deleteEnseignant(enseignant.id)">
                      <span>
                          <i class="mdi mdi-delete-variant"></i>
                      </span>
                  </a>
                  
              </td>
              
          </tr>
      </ng-template>
  </p-table>
</div>