<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/revendeur/dash">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/revendeur/typeproduit">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Type Produit</span>
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/revendeur/produit">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Produit</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/revendeur/commande">Commandes</a>
      </li>
      
      <li class="nav-item nav-category">Bibliotheque</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-floor-plan"></i>
          <span class="menu-title">Bibliotheque</span>
          <i class="menu-arrow"></i> 
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" routerLink="/revendeur/auteur">Auteur</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/revendeur/livre">Livre</a></li>
          </ul>
        </div>
      </li>



      
    </ul>
  </nav>