

<div class="row text-end">
    <span><a routerLink="/admin/anne/create" class="btn btn-primary" >Create</a></span>
</div>
<div class="card">
  <p-table [value]="annes" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Num</th>
              <th>code</th>
              <th>date_debut</th>
              <th>date_fin</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-anne let-index="rowIndex">
          <tr>
              <td>{{ index+1 }}</td>
              <td>{{ anne.code }}</td>
              <td>{{ anne.date_debut }}</td>
              <td>{{ anne.date_fin }}</td>
              
              <td>
                  <a (click)="getSelectedAnne(anne)">
                      <span>
                          <i class="mdi mdi-grease-pencil"></i>
                      </span>
                  </a> 
                  <a (click)="deleteAnne(anne.id)">
                      <span>
                          <i class="mdi mdi-delete-variant"></i>
                      </span>
                  </a>
                  
              </td>
              
          </tr>
      </ng-template>
  </p-table>
</div>